.QuestionList {
  max-width: 800px;
}

.QuestionList-new {
  margin: 20px;
  width: 100px;
  color: red;
  cursor: pointer;
}

.QuestionList-list {
  display: flex;
  flex-wrap: wrap;
}

.QuestionList-question {
  width: 24%;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px 20px;
}